header {
  .navbar1 {
    width: 100%;
    height: 100px;
    background-color: #f9ece4;
    overflow: hidden;
    .container-1 {
      width: 100%;
      height: 100%;
      // max-width: 1440px;
      margin: 0 auto;
      .menu_block {
        display: none;
        height: 100%;
        justify-content: center;
        align-items: center;

        .logo {
          display: flex;
          align-items: center;
          width: 100px;
          height: 100%;

          img {
            display: block;
            position: relative;
            height: 90%;
          }
        }
        #nav-icon2 {
          position: absolute;
          left: 10px;
          .ham {
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            transition: transform 400ms;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #e89b12;
            border-radius: 20px;

            .line {
              fill: none;
              transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
              stroke: #fff;
              stroke-width: 5.5;
              stroke-linecap: round;
            }
          }
          .hamRotate.active {
            transform: rotate(45deg);
          }

          .hamRotate180.active {
            transform: rotate(180deg);
          }
          .ham6 .top {
            stroke-dasharray: 40 172;
          }

          .ham6 .middle {
            stroke-dasharray: 40 111;
          }

          .ham6 .bottom {
            stroke-dasharray: 40 172;
          }

          .ham6.active .top {
            stroke-dashoffset: -132px;
          }

          .ham6.active .middle {
            stroke-dashoffset: -71px;
          }

          .ham6.active .bottom {
            stroke-dashoffset: -132px;
          }
        }
      }

      .menu1 {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 50%;
          height: 2px;
          background-color: #f0a312;
          top: 27px;
          left: -43px;
          padding: 0px;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 50%;
          height: 2px;
          background-color: #f0a312;
          top: 27px;
          right: -43px;
          padding: 0px;
        }
        li {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #8e7c46;
          height: 100%;
          &:nth-child(4) {
            width: 100px;
          }
          &:nth-child(4) img {
            display: block;
            position: relative;
            height: 80%;
          }
          &:hover {
            cursor: pointer;
          }
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(7) {
            padding: 20px 11px 0 11px;
          }
          &:nth-child(4)::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 1px;
            border-top: 2px solid #f0a312;
            border-bottom: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-radius: 50%;
            transform: rotate(17deg);
          }
          &:nth-child(4)::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 1px;
            border-top: 2px solid #f0a312;
            border-bottom: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            border-radius: 50%;
            transform: rotate(-17deg);
          }
        }
      }

      .menu2 {
        width: 50%;
        height: calc(100vh - 100px);
        position: absolute;
        top: 100px;
        font-size: 21px;
        border: 1px solid #d79426;
        z-index: 10;
        background-color: #d79426;

        li:nth-child(1) {
          background-color: #fff;
          color: #000;
        }
        li:nth-child(6) {
          // 做好要刪除
          height: 294px;
        }
        li {
          overflow: hidden;
          position: relative;
          padding: 5px 0 5px 10px;
          color: #fff;
          border-bottom: 1px solid #fff;
          transition-duration: 0.3s;
        }
        li > ul {
          border-top: 1px solid #fff;
          position: absolute;
          width: 100%;
          top: 43px;
          left: 0;
        }
        #second_ul > li {
          background-color: #d79426;
          color: #fff;
          padding-left: 30px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .navbar1 {
      .container-1 {
        .menu_block {
          display: flex;
        }
        .menu1 {
          display: none;
        }

        #menu5 {
          width: 100%;
          height: auto;
          position: absolute;
          background-color: #ccf;
          transform: translateX(-100%);
          transition-duration: 0.3s;
          background-color: #d79426;
          z-index: 500;
          &.open {
            transform: translateX(0);
          }
          li {
            position: relative;
            width: 100%;
            opacity: 0;
            transform-origin: top center;
            font-size: 21px;
            padding: 5px 0 5px 10px;

            border-bottom: 1px solid #fff;
            color: #fff;
            opacity: 0;
            transform-origin: top center;

            #second_ul {
              position: relative;
              top: 4px;
              width: calc(100% + 10px);
              left: -10px;
              display: none;

              & > li {
                padding-left: 30px;
                border-bottom: unset;
                border-top: 1px solid #fff;
              }
              & > li:nth-child(1) {
                background-color: #d79426;
                color: #fff;
              }
              li {
                .third_ul {
                  display: none;
                  position: relative;
                  width: calc(100% + 40px);
                  top: 4px;
                  left: -40px;
                }
                .third_ul > li:nth-child(1) {
                  background-color: #d79426;
                  color: #fff;
                }
                .third_ul > li {
                  padding-left: 61px;
                  border-bottom: unset;
                  border-top: 1px solid #fff;
                }
              }
            }
          }
          li:nth-child(1) {
            background-color: #fff;
            color: #000;
          }
          &.active li:first-of-type {
            animation: menu5 0.3s ease-in-out forwards;
            animation-delay: 0.3s;
          }

          &.active li:nth-of-type(2) {
            animation: menu5 0.3s ease-in-out forwards;
            animation-delay: 0.6s;
          }

          &.active li:nth-of-type(3) {
            animation: menu5 0.3s ease-in-out forwards;
            animation-delay: 0.9s;
          }

          &.active li:nth-of-type(4) {
            animation: menu5 0.3s ease-in-out forwards;
            animation-delay: 1.2s;
          }

          &.active li:nth-of-type(5) {
            animation: menu5 0.3s ease-in-out forwards;
            animation-delay: 1.5s;
          }

          &.active li:nth-of-type(6) {
            animation: menu5 0.3s ease-in-out forwards;
            animation-delay: 1.8s;
          }

          &.active li:nth-of-type(7) {
            animation: menu5 0.3s ease-in-out forwards;
            animation-delay: 2.1s;
          }
          @keyframes menu5 {
            0% {
              opacity: 0;
              transform: rotateX(-90deg);
            }

            100% {
              opacity: 1;
              transform: rotateX(0);
            }
          }
        }
      }
    }
    .banner .swiper-container .swiper-slide img {
      width: 90%;
    }
  }
}
