@import "./nav_bar";
@import "./footer";
@import "./mixin";
@import "./fixed_icon";

body {
  background: linear-gradient(to top, rgba(247, 246, 231, 0.24), rgba(199, 243, 249, 0.24));
}
.connection {
  background: linear-gradient(to top, rgba(247, 246, 231, 0.24), rgba(199, 243, 249, 0.24));
  width: 100%;
  padding-top: 100px;
  .container {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    text-align: center;
    .title {
      margin-bottom: 50px;
      text-align: center;

      .liaison {
        margin-bottom: 100px;
        @include title-pc();
        img{
          top: 0;
        }
        @media (max-width:576px) {
          @include title-mobile();
        }
      }
      .phone {
        font-size: 24px;
        position: relative;
        margin-bottom: 16px;
        img {
          position: relative;
          bottom: -7px;
          margin-right: 10px;
        }
        .name {
          font-size: 21px;
          margin-left: 17px;
        }
      }
      .self_mail {
        font-size: 24px;
      }
    }
    .item_group {
      display: inline-block;
      border: 4px solid #e79f1f;
      padding: 60px 85px;
      position: relative;
      @media (max-width: 1140px) {
        padding: 60px 45px;
      }
      @media (max-width: 576px) {
        border: unset;
        padding: 60px 15px;
      }
      .items {
        border: 2px solid #e79f1f;
        padding: 20px 142px 80px;
        @media (max-width: 1140px) {
          padding: 20px 71px 80px;
        }
        @media (max-width: 768px) {
          padding: 20px 35px 80px;
        }
        @media (max-width: 576px) {
          border: unset;
          padding: 0px;
        }
        .item {
          text-align: left;
          margin-bottom: 20px;
          clear: both;
          // display: flex;
          input,
          select,
          textarea {
            margin-left: 65px;
            border: 2px solid #e79f1f;
            background-color: #f4f4f4;

            @media (max-width: 768px) {
              margin-left: 30px;
            }
            @media (max-width: 576px) {
              margin-left: 20px;
            }
            @media (max-width: 456px) {
              margin-left: 0;
            }
          }

          #name {
            margin-left: 87px;
            @media (max-width: 768px) {
              margin-left: 52px;
            }
            @media (max-width: 576px) {
              margin-left: 42px;
            }
            @media (max-width: 456px) {
              margin-left: 0;
              display: block;
              margin-bottom: 20px;
            }
          }
          #gender {
            margin-left: 10px;
            margin-right: 5px;
          }
          span {
            font-size: 18px;
            @media (max-width: 456px) {
              display: block;
            }
          }
          .connection_txt {
            float: left;
            @media (max-width: 456px) {
              float: unset;
            }
          }
          button {
            margin-left: 5px;
            font-size: 18px;
            padding: 2px 10px;
            background-color: #e79f1f;
            color: #ffffff;
            border: none;
          }
        }

        .btn {
          color: #fff;
          background: #df971f;
          padding: 7px 38px;
          font-size: 21px;
        }
      }
    }
  }
}
