footer {
  width: 100%;
  position: relative;
  overflow: hidden;
}

footer .pic {
  position: relative;
  z-index: -1;
}

footer .pic img {
  width: 100%;
}

footer .pic img:nth-child(1) {
  display: block;
}

footer .pic img:nth-child(2) {
  display: none;
}

@media (max-width: 768px) {
  footer .pic img:nth-child(1) {
    display: none;
  }
  footer .pic img:nth-child(2) {
    display: block;
  }
}

footer .txt {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5%;
}

@media (max-width: 768px) {
  footer .txt {
    bottom: 50%;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
}

@media (max-width: 414px) {
  footer .txt {
    bottom: 50%;
    -webkit-transform: translate(0, 80%);
            transform: translate(0, 80%);
  }
}

footer .txt .logo {
  margin-right: 20px;
}

@media (max-width: 424px) {
  footer .txt .logo img {
    display: none;
  }
}

footer .txt .inf {
  position: relative;
  color: #fff;
  line-height: 40px;
}

@media (max-width: 1200px) {
  footer .txt .inf {
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  footer .txt .inf {
    line-height: 40px;
  }
}

footer .txt .inf p {
  margin: 0;
}

footer .txt .inf p .phone_icon {
  position: relative;
  margin-right: 5px;
  bottom: 3px;
}

footer .txt .inf p .icon {
  position: relative;
  bottom: 10px;
  float: right;
  clear: both;
}

@media (max-width: 768) {
  footer .txt .inf p .icon {
    width: 25%;
  }
}

@media (max-width: 576px) {
  footer .txt .logo {
    display: none;
  }
  footer .txt .logo img {
    width: 100%;
  }
  footer .txt .inf p {
    line-height: 30px;
  }
  footer .txt .inf p span:nth-child(1) img {
    width: 5%;
  }
}

@media (max-width: 375px) {
  footer .txt .inf {
    line-height: 30px;
  }
  footer .txt .inf p:nth-child(5) span span {
    display: block;
  }
}

@media (max-width: 360px) {
  footer .txt .logo img {
    width: 100%;
  }
  footer .txt .inf p {
    line-height: 20px;
  }
  footer .txt .inf p span:nth-child(1) img {
    width: 5%;
  }
}

.news {
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 400px;
  background-image: url("./img/index_news_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.news .container-1 {
  width: 100%;
  max-width: 1140px;
  margin: auto;
  text-align: center;
}

.news .container-1 .title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 100px;
  color: #f0a312;
  position: relative;
}

.news .container-1 .item_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  position: relative;
}

.news .container-1 .item_group .item {
  width: 70%;
  padding: 15px 50px 15px 50px;
  font-size: 18px;
  border-top: 2px solid #189aa7;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.news .container-1 .item_group .item:nth-child(6) {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .container-1 .item_group .item .inf {
  margin-left: 60px;
}

.news .container-1 .item_group .item .page {
  margin-top: 50px;
}

.news .container-1 .item_group .item .page ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news .container-1 .item_group .item .page ul li {
  width: 45px;
  height: 45px;
  border: 1px solid #18929f;
  text-align: center;
  font-size: 18px;
  position: relative;
  line-height: 45px;
}

.news .container-1 .item_group .item .page ul li.active {
  background-color: #18929f;
  color: #fff;
}

.news .container-1 .item_group .item .page ul li:hover {
  cursor: pointer;
}

.news .container-1 .item_group .item .page ul li img {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.news .pic {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.news .pic img {
  width: 100%;
}

header .navbar1 {
  width: 100%;
  height: 100px;
  background-color: #f9ece4;
  overflow: hidden;
}

header .navbar1 .container-1 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

header .navbar1 .container-1 .menu_block {
  display: none;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .navbar1 .container-1 .menu_block .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100%;
}

header .navbar1 .container-1 .menu_block .logo img {
  display: block;
  position: relative;
  height: 90%;
}

header .navbar1 .container-1 .menu_block #nav-icon2 {
  position: absolute;
  left: 10px;
}

header .navbar1 .container-1 .menu_block #nav-icon2 .ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e89b12;
  border-radius: 20px;
}

header .navbar1 .container-1 .menu_block #nav-icon2 .ham .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5.5;
  stroke-linecap: round;
}

header .navbar1 .container-1 .menu_block #nav-icon2 .hamRotate.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .navbar1 .container-1 .menu_block #nav-icon2 .hamRotate180.active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

header .navbar1 .container-1 .menu_block #nav-icon2 .ham6 .top {
  stroke-dasharray: 40 172;
}

header .navbar1 .container-1 .menu_block #nav-icon2 .ham6 .middle {
  stroke-dasharray: 40 111;
}

header .navbar1 .container-1 .menu_block #nav-icon2 .ham6 .bottom {
  stroke-dasharray: 40 172;
}

header .navbar1 .container-1 .menu_block #nav-icon2 .ham6.active .top {
  stroke-dashoffset: -132px;
}

header .navbar1 .container-1 .menu_block #nav-icon2 .ham6.active .middle {
  stroke-dashoffset: -71px;
}

header .navbar1 .container-1 .menu_block #nav-icon2 .ham6.active .bottom {
  stroke-dashoffset: -132px;
}

header .navbar1 .container-1 .menu1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .navbar1 .container-1 .menu1::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #f0a312;
  top: 27px;
  left: -43px;
  padding: 0px;
}

header .navbar1 .container-1 .menu1::after {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #f0a312;
  top: 27px;
  right: -43px;
  padding: 0px;
}

header .navbar1 .container-1 .menu1 li {
  font-size: 18px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8e7c46;
  height: 100%;
}

header .navbar1 .container-1 .menu1 li:nth-child(4) {
  width: 100px;
}

header .navbar1 .container-1 .menu1 li:nth-child(4) img {
  display: block;
  position: relative;
  height: 80%;
}

header .navbar1 .container-1 .menu1 li:hover {
  cursor: pointer;
}

header .navbar1 .container-1 .menu1 li:nth-child(1), header .navbar1 .container-1 .menu1 li:nth-child(2), header .navbar1 .container-1 .menu1 li:nth-child(3), header .navbar1 .container-1 .menu1 li:nth-child(5), header .navbar1 .container-1 .menu1 li:nth-child(6), header .navbar1 .container-1 .menu1 li:nth-child(7) {
  padding: 20px 11px 0 11px;
}

header .navbar1 .container-1 .menu1 li:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1px;
  border-top: 2px solid #f0a312;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  -webkit-transform: rotate(17deg);
          transform: rotate(17deg);
}

header .navbar1 .container-1 .menu1 li:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 1px;
  border-top: 2px solid #f0a312;
  border-bottom: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 50%;
  -webkit-transform: rotate(-17deg);
          transform: rotate(-17deg);
}

header .navbar1 .container-1 .menu2 {
  width: 50%;
  height: calc(100vh - 100px);
  position: absolute;
  top: 100px;
  font-size: 21px;
  border: 1px solid #d79426;
  z-index: 10;
  background-color: #d79426;
}

header .navbar1 .container-1 .menu2 li:nth-child(1) {
  background-color: #fff;
  color: #000;
}

header .navbar1 .container-1 .menu2 li:nth-child(6) {
  height: 294px;
}

header .navbar1 .container-1 .menu2 li {
  overflow: hidden;
  position: relative;
  padding: 5px 0 5px 10px;
  color: #fff;
  border-bottom: 1px solid #fff;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

header .navbar1 .container-1 .menu2 li > ul {
  border-top: 1px solid #fff;
  position: absolute;
  width: 100%;
  top: 43px;
  left: 0;
}

header .navbar1 .container-1 .menu2 #second_ul > li {
  background-color: #d79426;
  color: #fff;
  padding-left: 30px;
}

@media (max-width: 768px) {
  header .navbar1 .container-1 .menu_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .navbar1 .container-1 .menu1 {
    display: none;
  }
  header .navbar1 .container-1 #menu5 {
    width: 100%;
    height: auto;
    position: absolute;
    background-color: #ccf;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background-color: #d79426;
    z-index: 500;
  }
  header .navbar1 .container-1 #menu5.open {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  header .navbar1 .container-1 #menu5 li {
    position: relative;
    width: 100%;
    opacity: 0;
    -webkit-transform-origin: top center;
            transform-origin: top center;
    font-size: 21px;
    padding: 5px 0 5px 10px;
    border-bottom: 1px solid #fff;
    color: #fff;
    opacity: 0;
    transform-origin: top center;
  }
  header .navbar1 .container-1 #menu5 li #second_ul {
    position: relative;
    top: 4px;
    width: calc(100% + 10px);
    left: -10px;
    display: none;
  }
  header .navbar1 .container-1 #menu5 li #second_ul > li {
    padding-left: 30px;
    border-bottom: unset;
    border-top: 1px solid #fff;
  }
  header .navbar1 .container-1 #menu5 li #second_ul > li:nth-child(1) {
    background-color: #d79426;
    color: #fff;
  }
  header .navbar1 .container-1 #menu5 li #second_ul li .third_ul {
    display: none;
    position: relative;
    width: calc(100% + 40px);
    top: 4px;
    left: -40px;
  }
  header .navbar1 .container-1 #menu5 li #second_ul li .third_ul > li:nth-child(1) {
    background-color: #fff;
    color: #000;
  }
  header .navbar1 .container-1 #menu5 li #second_ul li .third_ul > li {
    padding-left: 61px;
    border-bottom: unset;
    border-top: 1px solid #fff;
    background-color: #fff;
    color: #000;
  }
  header .navbar1 .container-1 #menu5 li:nth-child(1) {
    background-color: #fff;
    color: #000;
  }
  header .navbar1 .container-1 #menu5.active li:first-of-type {
    -webkit-animation: menu5 0.3s ease-in-out forwards;
            animation: menu5 0.3s ease-in-out forwards;
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  header .navbar1 .container-1 #menu5.active li:nth-of-type(2) {
    -webkit-animation: menu5 0.3s ease-in-out forwards;
            animation: menu5 0.3s ease-in-out forwards;
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  header .navbar1 .container-1 #menu5.active li:nth-of-type(3) {
    -webkit-animation: menu5 0.3s ease-in-out forwards;
            animation: menu5 0.3s ease-in-out forwards;
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  header .navbar1 .container-1 #menu5.active li:nth-of-type(4) {
    -webkit-animation: menu5 0.3s ease-in-out forwards;
            animation: menu5 0.3s ease-in-out forwards;
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
  }
  header .navbar1 .container-1 #menu5.active li:nth-of-type(5) {
    -webkit-animation: menu5 0.3s ease-in-out forwards;
            animation: menu5 0.3s ease-in-out forwards;
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
  }
  header .navbar1 .container-1 #menu5.active li:nth-of-type(6) {
    -webkit-animation: menu5 0.3s ease-in-out forwards;
            animation: menu5 0.3s ease-in-out forwards;
    -webkit-animation-delay: 1.8s;
            animation-delay: 1.8s;
  }
  header .navbar1 .container-1 #menu5.active li:nth-of-type(7) {
    -webkit-animation: menu5 0.3s ease-in-out forwards;
            animation: menu5 0.3s ease-in-out forwards;
    -webkit-animation-delay: 2.1s;
            animation-delay: 2.1s;
  }
  @-webkit-keyframes menu5 {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
  }
  @keyframes menu5 {
    0% {
      opacity: 0;
      -webkit-transform: rotateX(-90deg);
              transform: rotateX(-90deg);
    }
    100% {
      opacity: 1;
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
  }
  header .banner .swiper-container .swiper-slide img {
    width: 90%;
  }
}

html {
  scroll-behavior: smooth;
}

.fixed_icon {
  display: none;
  position: fixed;
  right: 25px;
  bottom: 100px;
}

.fixed_icon .top {
  margin-top: 15px;
  border-radius: 50%;
}

.fixed_icon .top img {
  border: 2px solid #fff;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .fixed_icon .top img {
    width: 75%;
  }
}

.fixed_icon .top #img1 {
  display: none;
}

.fixed_icon .top #img1.active {
  display: block;
}

.fixed_icon .top #img2 {
  border: 2px solid #df971f;
  display: none;
}

.fixed_icon .top #img2.active {
  display: block;
}

.fixed_icon .shop_car img {
  border: 2px solid #fff;
  border-radius: 50%;
}

@media (max-width: 576px) {
  .fixed_icon .shop_car img {
    width: 75%;
  }
}

main .content {
  margin: 0 auto;
  padding-top: 100px;
}

@media (max-width: 576px) {
  main .content {
    padding-top: 60px;
  }
}

@media (max-width: 768px) {
  main .content .container {
    padding: unset;
  }
}

main .content .container .intoduction-title {
  padding-bottom: 50px;
  text-align: center;
  position: relative;
  font-size: 36px;
  font-weight: bolder;
  color: #e89b12;
}

main .content .container .intoduction-title img {
  position: relative;
  top: -10px;
}

main .content .container .intoduction-title img:nth-child(1) {
  margin-right: 25px;
}

main .content .container .intoduction-title img:nth-child(2) {
  margin-left: 25px;
}

@media (max-width: 768px) {
  main .content .container .intoduction-title {
    padding-bottom: 60px;
  }
}

@media (max-width: 576px) {
  main .content .container .intoduction-title img:nth-child(1) {
    margin-right: 15px;
  }
  main .content .container .intoduction-title img:nth-child(2) {
    margin-left: 15px;
  }
}

main .content .container .intoduction-title .left {
  margin-right: 25px;
}

@media (max-width: 768px) {
  main .content .container .intoduction-title .left {
    margin: unset;
  }
}

main .content .container .intoduction-title .right {
  margin-left: 25px;
}

@media (max-width: 768px) {
  main .content .container .intoduction-title .right {
    margin: unset;
  }
}

main .content .container .introduction-text {
  max-width: 700px;
  margin: 0 auto;
  text-align: justify;
  padding-bottom: 100px;
}

@media (max-width: 768px) {
  main .content .container .introduction-text {
    display: none;
  }
}

main .content .container .introduction-text .introduction-text-line1 {
  font-size: 24px;
  padding-bottom: 5px;
}

main .content .container .introduction-text .introduction-text-line2 {
  padding-left: 20px;
  font-size: 18px;
}

main .content .administrator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 900px;
  text-align: justify;
  margin: 0 auto;
  position: relative;
  margin-top: 35px;
}

@media (max-width: 768px) {
  main .content .administrator {
    display: none;
  }
}

main .content .administrator .administrator-left {
  width: 50%;
  padding-left: 50px;
}

main .content .administrator .administrator-left .administrator-pic {
  -webkit-box-shadow: -30px -35px 0px #df971f;
          box-shadow: -30px -35px 0px #df971f;
  right: -3%;
  bottom: 0%;
}

main .content .administrator .administrator-right {
  max-width: 50%;
  position: absolute;
  right: 3%;
  top: 9%;
  z-index: -1;
}

main .content .administrator .administrator-right .administrator-right-content {
  max-width: 450px;
  width: 100%;
  max-height: 270px;
  height: 270px;
  background: #fff;
  border: 2px solid #df971f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .content .administrator .administrator-right .administrator-right-content .administrator-right-content-main {
  width: 76%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

main .content .administrator-media-576 {
  display: none;
}

main .content .administrator-media-576 .introduction-text {
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  main .content .administrator-media-576 {
    display: block;
    width: 90%;
    margin: 0 auto;
  }
}

main .content .administrator-media-576 .introduction-text-line1 {
  font-size: 21px;
  padding-bottom: 10px;
}

main .content .administrator-media-576 .introduction-text-line2 {
  font-size: 18px;
  padding-bottom: 10px;
}

main .content .administrator-media-576 .administrator-pic {
  padding-bottom: 20px;
}

main .content .administrator-media-576 .administrator-right-content-main {
  font-size: 18px;
}

main .content .platform {
  padding-bottom: 50px;
}

main .content .platform .title {
  padding-top: 150px;
  padding-bottom: 50px;
  text-align: center;
  color: #df971f;
  font-size: 36px;
}

@media (max-width: 992px) {
  main .content .platform .title {
    padding-top: 200px;
  }
}

@media (max-width: 576px) {
  main .content .platform .title {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

main .content .platform .platform-pic {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  main .content .platform .platform-pic {
    width: 60%;
  }
}

@media (max-width: 992px) {
  main .content .platform .platform-pic {
    width: 80%;
  }
}

@media (max-width: 576px) {
  main .content .platform .platform-pic {
    width: 90%;
    padding-bottom: 100px;
  }
}

main .content .platform .platform-pic img {
  width: 100%;
}
/*# sourceMappingURL=introduction.css.map */