.loadpages {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eee;
  overflow: hidden;
  transition-duration: 0.8s;
  z-index: 50;
}

.page1 {
  width: 100%;
  height: 100%;
  background-image: url("../img/loading/2019-12-27-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page1 img {
  position: relative;
  width: 88px;
  height: 100px;
  position: relative;
  /* transform: translate(-120%, -10px); */
  /* 265px æ»¿ */
  z-index: 250;
}

.page1 .load_line {
  width: 425px;
  height: 35px;
  border: 1px solid #f4c53d;
  text-align: center;
  line-height: 25px;
  text-align: right;
}

#load_line_txt {
  display: block;
  margin-top: 10px;

  position: relative;

  z-index: 100;
  color: #eec935;
}

#load_line_content {
  top: 0;
  display: block;
  width: 0;
  height: 100%;
  padding: 5px;
  /* background: linear-gradient(to right,#a07d24 , #865824 , #b18e44 ,#c4ad78 , #c29132 ,#b89646 ,#856026); */
}

#load_line_content img {
  width: 100%;
  height: 100%;
}

.txt {
  margin-top: 50px;
}
