* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "微軟正黑體";
  box-sizing: border-box;
}

#menu_line {
  position: absolute;
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: #e89b12;
  top: 95px;
  left: 405px;
  transition-duration: 0.3s;
}
