@import "./nav_bar";
@import "./footer";
@import "./mixin";
@import "./fixed_icon";
body {
  background: linear-gradient(to top, rgba(247, 246, 231, 0.24), rgba(199, 243, 249, 0.24));
}

main {
  .content {
    @include title-to-top-100px;

    @media (max-width: 576px) {
      @include title-to-top-60px;
    }
    .container {
      margin: 0 auto;
      .title {
        text-align: center;
        margin-bottom: 100px;
        @include title-pc();
        @media (max-width: 576px) {
          margin-bottom: 25px;
          @include title-mobile();
        }
      }
      .scene-group {
        .scene_item {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          @media (max-width: 1200px) {
            text-align: left;
          }
          @media (max-width: 576px) {
            transform: translate(0px, 0px);
            text-align: center;
            margin-bottom: 50px;
          }
          &:nth-child(1) {
            transform: translate(-50px, 0px);
            @media (max-width: 1200px) {
              transform: translate(-25px, 0px);
            }
            @media (max-width: 992px) {
              transform: translate(0px, 0px);
            }
            @media (max-width: 768px) {
              transform: translate(0px, 0px);
            }
          }
          &:nth-child(2) {
            position: relative;
            transform: translate(50px, -75px);
            @media (max-width: 1200px) {
              transform: translate(25px, -75px);

              div {
                text-align: right;
                @media (max-width: 576px) {
                  text-align: center;
                }
              }
            }
            @media (max-width: 992px) {
              transform: translate(0px, -75px);
            }
            @media (max-width: 768px) {
              transform: translate(0px, -50px);
            }
            @media (max-width: 576px) {
              transform: translate(0px, 0px);
            }
          }
          &:nth-child(3) {
            transform: translate(-50px, -150px);
            @media (max-width: 1200px) {
              transform: translate(-25px, -150px);
            }
            @media (max-width: 992px) {
              transform: translate(0px, -150px);
            }
            @media (max-width: 768px) {
              transform: translate(0px, -100px);
            }
            @media (max-width: 576px) {
              transform: translate(0px, 0px);
            }
          }
          div {
            img {
              width: 100%;
              @media (max-width: 1200px) {
                width: 90%;
              }
              @media (max-width: 576px) {
                width: 90%;
              }
              // @media (max-width: 768px) {
              //   width: 80%;
              // }
            }
          }
          &:nth-child(1) div:nth-child(2) img,
          &:nth-child(2) div:nth-child(1) img,
          &:nth-child(3) div:nth-child(2) img {
            width: 70%;
            @media (max-width: 1200px) {
              width: 60%;
            }
            @media (max-width: 576px) {
              width: 90%;
            }
            // @media (max-width: 768px) {
            //   width: 70%;
            // }
          }
        }
      }
    }
    .scene-video {
      display: flex;
      // justify-content: space-around;
      justify-content: center;
      @media (max-width: 1200px) {
        transform: translateY(-50px);
      }
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      @media (max-width: 576px) {
        transform: translateY(0px);
      }
      .video {
        width: 550px;
        height: 350px;
        &:nth-child(1) {
          margin-right: 15px;
          @media (max-width: 768px) {
            margin: 0;
            margin-bottom: 50px;
          }
        }
        &:nth-child(2) {
          margin-left: 15px;
          @media (max-width: 768px) {
            margin: 0;
          }
        }
        @media (max-width: 1200px) {
          width: 500px;
          height: 300px;
        }
        @media (max-width: 992px) {
          width: 400px;
          height: 200px;
        }
        @media (max-width: 768px) {
          width: 550px;
          height: 350px;
        }
        @media (max-width: 576px) {
          width: 450px;
          height: 250px;
        }
        @media (max-width: 469px) {
          width: 350px;
          height: 170px;
        }
      }
    }
  }
}
